:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
}
body {
    font-family: 'Lato' , sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px*/
    line-height: 1.6;
    /* Sets the line height to 1.6*/
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: #357b70;
}

a:visited {
    /* visited link */
    color: #05676e;
}
a:hover, a:focus {
    /* No underlining when hovering link*/
    text-decoration: none;
}

a:active {
/* selected link*/
color: #489c79;
}

.navigation-list__item--active {
    text-decoration: none;
}

button {
    /* overwrites browser deafults and resets the border */
    border: none;
    /* takes the font from the outer container*/
    font-family: inherit;
    /* styles background color, font color, and text decorations (underline, etc) of the button*/
    background: #357b70;    
    color: white;
    text-decoration: none;
    /* gives the button a bottom border with a width of 2px, a type of solid, and color in RGBA format*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button*/
    cursor: pointer;
    /* reduces the opacity of the button to 80%*/
    opacity: 0.8;
}

.button_secondary {
    background-color: #e0b354;
    color: #2b2b2b;
}

/*
Colors used 
Text color (Dark gray): #2b2b2b;
Primary color (Purple): #357b70;
Secondary color (Orange): #e0b354;
*/
div {
    padding: 10px; /*adds a 10px inner spacing to all sides*/
    margin: 10px; /*adds a 10px outer spacing to all sides*/
}

.header_title {
    /*no spacing to top and bottom and autoo spacing to left and right, which centers the container HORIZONTALLLY*/
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.page-footer {
    clear: both;
}

.profile { 

    max-width: 700px;
    margin: 0 auto;

}
* { 
    box-sizing: border-box;
}
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile__text { 
    flex: 1 1 100px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.pager-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    background-color: lightgray;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr ;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

@media all and (min-width: 500px) and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto ;
    }
    h1 { 
        font-size: 22px;
    }
}
 @media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
 }

 .button, button { 
    /* overwrites broswer defaults and resets the border*/
    border: none;
    display: inline;
    /*takes the font from the outer container*/
    font-family: inherit;
    /*styles the button*/
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /*width of the border, type, color*/
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    transition-duration: .2s;
 }

 button:hover,
 button:focus,
 .button:hover,
.button:focus {
    /*lets the mouse appear as a hand when hovering over the button*/
    cursor: pointer;
    /* reduces the opacity of the button to 80%*/
    opacity: .8;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}
.sun { 
    animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
    from {
        transform: translate(0,50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to { 
        transform: translate(100px,48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse alternate linear;
}